{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-8">
        <form action="" method="post">
            {{ context.form.hidden_tag() }}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="first_name">{{ context.form.first_name.label }}</label>
                        {{ context.form.first_name(class="form-control", id="first_name") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="last_name">{{ context.form.last_name.label }}</label>
                        {{ context.form.last_name(class="form-control", id="last_name") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="email">{{ context.form.email.label }}</label>
                        {{ context.form.email(class="form-control", id="email") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="job">{{ context.form.job.label }}</label>
                        {{ context.form.job(class="form-control", id="job") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="wage">{{ context.form.wage.label }}</label>
                        {{ context.form.wage(class="form-control", id="wage") }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-md-center">
                <div class="col-8">
                    <button type="submit"
                        class="btn btn-block btn-outline-{{context.submit.1}}">{{context.submit.0}}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
