{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

{% if context.form.submit %}
<h1>Form Submitted!</h1>

{% else %}
<form action="{{ url_for('add_member') }}" method="POST">
    {{ context.form.hidden_tag() }}

    <div class="form-group">
        <label for="first_name">{{ context.form.first_name.label }}</label>
        {{ context.form.first_name(class="form-control", id="first_name") }}
    </div>

    <div class="form-group">
        <label for="last_name">{{ context.form.last_name.label }}</label>
        {{ context.form.first_name(class="form-control", id="last_name") }}
    </div>

    <div class="form-group">
        <label for="job">{{ context.form.job.label }}</label>
        {{ context.form.first_name(class="form-control", id="job") }}
    </div>

    {{ context.form.submit(class="btn btn-primary") }}

</form>
{% endif %}

{% endblock %}
