{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title">{{ context.1 }}</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia neque quo unde, est
                    eius
                    impedit perspiciatis ullam iusto reiciendis, quaerat aliquid obcaecati minima? Officiis consectetur
                    ea
                    eos
                    consequuntur, corrupti recusandae?</p>
            </div>
            <ul class="list-group list-group-flush mx-2">
                <li class="list-group-item list-group-item-dark"> <strong>Personal Information</strong></li>
                <li class="list-group-item">Address</li>
                <li class="list-group-item">Email</li>
                <li class="list-group-item">Telephone</li>
            </ul>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-outline-warning card-link">Edit Member</a>
                <a href="#" class="btn btn-outline-danger card-link">Remove Member</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-3">
        <img src="https://via.placeholder.com/350x450 " class="img-thumbnail" alt="...">
    </div>
</div>
{% endblock %}
