<!-- prettier-ignore -->

{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="jumbotron jumbotron-fluid m-0 shadow">
      <div class="container-fluid">
        <h1 class="display-4 text-dark text-center">Income</h1>
        <hr class="my-4" />
        <div class="card-group">
          <div class="card p-3">
            <div class="card-body text-center">
              <h5 class="card-title">Daily Income</h5>
              <button
                type="button"
                class="mt-4 btn btn-outline-dark btn-lg"
                disabled
              >
                13.00 Euro
              </button>
            </div>
          </div>
          <div class="card p-3">
            <div class="card-body text-center">
              <h5 class="card-title">Monthly Income</h5>
              <button
                type="button"
                class="mt-4 btn btn-outline-dark btn-lg"
                disabled
              >
                254.00 Euro
              </button>
            </div>
          </div>
          <div class="card p-3">
            <div class="card-body text-center">
              <h5 class="card-title">Yearly Income</h5>
              <button
                type="button"
                class="mt-4 btn btn-outline-dark btn-lg"
                disabled
              >
                1480.00 Euro
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4 pb-2">
  <div class="col">
    <div class="card rounded border border-secondary shadow-sm">
      <div class="card-header bg-dark text-white">Top Products</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card rounded border border-secondary shadow-sm">
      <div class="card-header bg-dark text-white">Worst Products</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
